@charset "utf-8";

/* ************** font ************ */
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
/*font-family: 'Pretendard';*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: "Poppins", sans-serif;*/


/* ***************  global *************** */
html { 
    scroll-behavior: smooth;
    margin:0; 
    padding:0;
}
body { 
    scroll-behavior: smooth;
	margin:0; padding:0; 
	font-family: 'Pretendard', sans-serif;
	box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f7f5f0;
    word-break: keep-all;
    overflow-x: hidden;
}
@media only screen and (max-width: 720px) {
    body { 
        word-break: break-all;
    }
}
.clearfix:after { content:""; display:block; height:0; clear:both; visibility:hidden; } .clearfix { display:inline-block; }/*  ie-mac \*/ *html .clearfix {height: 1%;} .clearfix {display: block;}/* ie-mac */

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* *********** other ********** */
.effect {background-color:#000; filter:Alpha(opacity=35); opacity:0.3; -moz-opacity:0.3;}

/* link */
a {cursor: pointer;}
a:link {text-decoration:none} 
a:visited {text-decoration:none} 
a:active {text-decoration:none} 
a:hover {text-decoration:none}

/* image */
img {border:0; vertical-align:top}
/* define */
dl, dt, dd {margin:0px; padding:0px;} 
/* sentence */
div, h1, h2, h3, h4{padding:0; margin:0;}
p {margin:0px; padding:0px}
/* list */
ul, ol {list-style-type:none; margin:0px; padding:0px;}

/* area */
hr {display:none;}

/* form */
form {margin:0; padding:0;}
form label, label {height:19px; cursor:default;}
select {vertical-align: middle; height:20px; letter-spacing:0px}
legend {display: none;}
fieldset {margin: 0; padding: 0; border: none;}
label {margin: 0; padding: 0}
checkbox {width: 13px; height: 13px;}
input, textarea {vertical-align: middle; font-size: 12px; color:#777777; line-height:14px;}
input.text { border: 5px solid #000; line-height: 26px; height: 26px; padding: 0 5px; font-size: 12px; color: #000;}

/* table */ 
table {margin:0; padding:0; border-collapse:collapse; border-spacing:0; border:0}
td {margin:0px; padding:0px; font-size:12px; color:#000;}
td, th { text-align:left}

.border {border: 1px solid red}

.v-t {vertical-align: top;}
.v-m {vertical-align: middle;}
.v-b {vertical-align: bottom;}
.txt-l {text-align: left;}
.txt-c {text-align: center;}
.txt-r {text-align: right;}
.dp-b {display: block;}
.dp-n {display: none;}


div.origin-wrapper {
    position: relative;
}
div.origin-wrapper div.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
div.origin-wrapper div.section-1 {
    z-index: 1;
    background: #262727;
}
div.origin-wrapper div.section-2 {
    z-index: 2;
    background: url('../img/main_img_1.png') 0 0 no-repeat;
    background-size: cover;
}
div.origin-wrapper div.section-3 {
    z-index: 3; 
    background: url('../img/main_img_2.png') 0 0 no-repeat;
    background-size: cover;
}
div.origin-wrapper div.section-4 {
    z-index: 4;
    background: url('../img/main_img_3.png') 0 0 no-repeat;
    background-size: cover;
}
div.origin-wrapper div.section-5 {
    z-index: 5;
    background: url('../img/main_img_4.png') 0 0 no-repeat;
    background-size: cover;
}
div.origin-wrapper div.section-6 {
    z-index: 6;
    background: url('../img/main_img_5.png') 0 0 no-repeat;
    background-size: cover;
}
div.origin-wrapper div.section-7 {
    z-index: 7;
    background: rgb(65, 65, 65);
}

div.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
div.overlay div.areas {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
}
div.overlay div.area-1 {
    position: relative;
}
div.overlay div.area-1 div.inner-content {
    padding: 100vh 30px;
    color: #fff;
    z-index: 20;
    text-align: left;
}
div.overlay div.area-1 div.inner-content .sentence {

}
div.overlay div.area-1 div.inner-content div.book-now {

}
div.overlay div.area-1 div.inner-content div.book-now a {
    display: inline-block;
    color: #fff;
    padding: 20px 70px 20px 0;
    background: url('../img/arrow.png') 90% 55% no-repeat;
    margin: 60px 0;
}
.reserve-info {

}
.reserve-info .info-list {
    border-top: 1px solid #ccc;
}
.reserve-info .info-list li {
    border-bottom: 1px solid #ccc;
}
.reserve-info .info-list li a {
    display: block;
    padding: 20px 0 20px 10px;
    background: url('../img/btn_more_plus.png') 100% 50% no-repeat;
    color: #fff;
}
.reserve-info .info-list li a.active {
    display: block;
    padding: 20px 0 20px 10px;
    background: url('../img/btn_more_minus.png') 100% 50% no-repeat;
    color: #fff;
}
.reserve-info .info-list li div.detail {
    display: none;
    padding: 10px;
}
.reserve-info .info-list li div.detail.on {
    
}
div.overlay div.area-2 {
    height: 1500px;
}
div.overlay div.area-2 div.inner {
    background: url('../img/main_img_1.png') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
div.overlay div.area-2 div.inner.on {
    background: none;
}
div.overlay div.area-3 {
    height: 1000px;
}
div.overlay div.area-4 {
    height: 1400px;
}
div.overlay div.area-5 {
    height: 1200px;
}
div.overlay div.area-6 {
    height: 1300px;
}
div.overlay div.area-7 {
    height: 1600px;
}

div.film-area1 {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .55;
    top: 0; 
    left: 0; 
    z-index: 11;
}

/* art */
div.scene-1 {
    position: absolute;
    width: 123px;
    height: 417px;
    background: url('../img/intro_symbol.png') 0 0 no-repeat;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}
/* logo */
div.scene-2 {
    position: absolute;
    width: 278px;
    height: 39px;
    background: url('../img/intro_logo.png') 0 0 no-repeat;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}
/* movie */
div.scene-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fdff80;
    top: 0%;
    left: 0%;
    z-index: 10;
}
#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* global */
div.film-area2 {
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .55;
    top: 0; 
    left: 0; 
    z-index: 11;
}
div.top-logo {
    position: fixed;
    width: 314px;
    height: 22px;
    background: url('../img/intro_main_logo_big.png') 0 50% no-repeat;
    background-size: 100% auto;
    top: 7%;
    left: 50%;
    z-index: 15;
    margin: 0 0 0 -157px;
}
div.top-logo.active {
    width: 189px;
    height: 30px;
    top: 50px;
    left: 7%;
    transition: all 1s;
    margin: 0 0 0 0px;
}
a.menu-open {
    position: fixed;
    width: 30px;
    height: 30px;
    top: 50px;
    right: -10%;
    z-index: 15;
    background: url('../img/GNB_menu_btn.png') 50% 50% no-repeat;
    text-indent: -9999px;
}
a.menu-open.active {
    top: 50px;
    right: 7%;
    transition: all 1s;
}
a.menu-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    right: 7%;
    z-index: 15;
    background: url('../img/GNB_menu_btn.png') 50% 50% no-repeat;
    text-indent: -9999px;
}
div.gnb-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0%;
    right: -100%;
    z-index: 16;
    transition: all .5s ease-in-out;
}
div.gnb-wrapper.on {
    right: 0%;
}
div.language {
    position: absolute;
    top: 60px;
    left: 9%;
    z-index: 10;
    color: #fff;
    font-size: 12px;
}
div.language a {
    color: #fff;
}
div.language span {
    margin: 0 15px;
}
div.global-menus {
    position: absolute;
    top: 150px;
    left: 10%;
    z-index: 10;
    color: #fff;
}
div.global-menus a {
    display: block;
    color: #fff;
    padding: 12px 0;
}