@charset "utf-8";

/* ************** font ************ */
@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
/*font-family: 'Pretendard';*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: "Poppins", sans-serif;*/


/* ***************  global *************** */
html { 
    scroll-behavior: smooth;
    margin:0; 
    padding:0;
}
body { 
    scroll-behavior: smooth;
	margin:0; padding:0; 
	font-family: 'Pretendard', sans-serif;
	box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f7f5f0;
    word-break: keep-all;
}
@media only screen and (max-width: 720px) {
    body { 
        word-break: break-all;
    }
}
.clearfix:after { content:""; display:block; height:0; clear:both; visibility:hidden; } .clearfix { display:inline-block; }/*  ie-mac \*/ *html .clearfix {height: 1%;} .clearfix {display: block;}/* ie-mac */

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* *********** other ********** */
.effect {background-color:#000; filter:Alpha(opacity=35); opacity:0.3; -moz-opacity:0.3;}

/* link */
a {cursor: pointer;}
a:link {text-decoration:none} 
a:visited {text-decoration:none} 
a:active {text-decoration:none} 
a:hover {text-decoration:none}

/* image */
img {border:0; vertical-align:top}
/* define */
dl, dt, dd {margin:0px; padding:0px;} 
/* sentence */
div, h1, h2, h3, h4{padding:0; margin:0;}
p {margin:0px; padding:0px}
/* list */
ul, ol {list-style-type:none; margin:0px; padding:0px;}

/* area */
hr {display:none;}

/* form */
form {margin:0; padding:0;}
form label, label {height:19px; cursor:default;}
select {vertical-align: middle; height:20px; letter-spacing:0px}
legend {display: none;}
fieldset {margin: 0; padding: 0; border: none;}
label {margin: 0; padding: 0}
checkbox {width: 13px; height: 13px;}
input, textarea {vertical-align: middle; font-size: 12px; color:#777777; line-height:14px;}
input.text { border: 5px solid #000; line-height: 26px; height: 26px; padding: 0 5px; font-size: 12px; color: #000;}

/* table */ 
table {margin:0; padding:0; border-collapse:collapse; border-spacing:0; border:0}
td {margin:0px; padding:0px; font-size:12px; color:#000;}
td, th { text-align:left}

.border {border: 1px solid red}

.v-t {vertical-align: top;}
.v-m {vertical-align: middle;}
.v-b {vertical-align: bottom;}
.txt-l {text-align: left;}
.txt-c {text-align: center;}
.txt-r {text-align: right;}
.dp-b {display: block;}
.dp-n {display: none;}


div.origin-wrapper {
    position: relative;
}
div.origin-wrapper div.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
div.origin-wrapper div.section-1 {
    z-index: 1;
    background: rgb(65, 185, 255);
}
div.origin-wrapper div.section-2 {
    z-index: 2;
    background: rgb(65, 255, 255);
}
div.origin-wrapper div.section-3 {
    z-index: 3; 
    background: rgb(255, 141, 65);
}
div.origin-wrapper div.section-4 {
    z-index: 4;
    background: rgb(142, 95, 173);
}
div.origin-wrapper div.section-5 {
    z-index: 5;
    background: rgb(139, 149, 233);
}
div.origin-wrapper div.section-6 {
    z-index: 6;
    background: rgb(161, 161, 161);
}
div.origin-wrapper div.section-7 {
    z-index: 7;
    background: rgb(65, 65, 65);
}

div.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
div.overlay div.areas {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
}
div.overlay div.area-1 {
    position: relative;
    height: 1200px;
}
div.overlay div.area-2 {
    background: rgb(65, 255, 255);
    height: 1500px;
}
div.overlay div.area-3 {
    height: 1000px;
}
div.overlay div.area-4 {
    height: 1400px;
}
div.overlay div.area-5 {
    height: 1200px;
}
div.overlay div.area-6 {
    height: 1300px;
}
div.overlay div.area-7 {
    height: 1600px;
}

div.film-area1 {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .7;
}

/* art */
div.scene-1 {
    position: absolute;
    width: 150px;
    height: 200px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}
/* logo */
div.scene-2 {
    position: absolute;
    width: 200px;
    height: 20px;
    background: #585858;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}
/* menu */
div.scene-3 {
    position: fixed;
    width: 400px;
    height: 50px;
    background: #8866be;
    top: 10%;
    left: 50%;
    z-index: 15;
    transform: translate(-50%, -50%);
}
/* movie */
div.scene-4 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fdff80;
    top: 0%;
    left: 0%;
    z-index: 10;
}
